@{
    ViewData["Title"] = "Home Page";
}

@section Styles{
    <link href="https://cdn.datatables.net/2.0.5/css/dataTables.dataTables.css" rel="stylesheet" />

    <link href="https://cdn.datatables.net/buttons/3.0.2/css/buttons.dataTables.css" rel="stylesheet" />

}

<div class="card">
    <div class="card-header">
        Featured
    </div>
    <div class="card-body">
        <table id="id_empleados" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>IdEmpleado</th>
                    <th>Nombre</th>
                    <th>Cargo</th>
                    <th>Oficina</th>
                    <th>Salario</th>
                    <th>Telefono</th>
                    <th>Fecha Ingreso</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.datatables.net/2.0.5/js/dataTables.js"></script>

    <script src="https://cdn.datatables.net/buttons/3.0.2/js/dataTables.buttons.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.html5.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>

    <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.print.min.js"></script>


    <script>
        $('#id_empleados').DataTable({
            "ajax": {
                "url": '@Url.Action("ListaEmpleados", "Home")',
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "idEmpleado" },
                { "data": "nombre" },
                { "data": "cargo" },
                { "data": "oficina" },
                { "data": "salario" },
                { "data": "telefono" },
                { "data": "fechaIngreso" }
            ],
            language: {
                url: "https://cdn.datatables.net/plug-ins/2.0.5/i18n/es-ES.json"
            },
            columnDefs: [
                {
                    targets: 0,
                    visible: false
                }
            ],
            dom: 'Bfrtip',
            buttons: [
                //'excel',
                {
                    extend: 'excelHtml5',
                    text: 'Exportar Excel',
                    filename: 'Reporte Empleados',
                    title: '',
                    exportOptions: {
                        columns: [1, 2, 3, 4, 5, 6]
                    },
                    className: 'btn-exportar-excel',
                },
                {
                    extend: 'pdfHtml5',
                    text: 'Exportar PDF',
                    filename: 'Reporte Empleados',
                    title: '',
                    exportOptions: {
                        columns: [1, 2, 3, 4, 5, 6]
                    },
                    className: 'btn-exportar-pdf',
                },
                {
                    extend: 'print',
                    title: '',
                    exportOptions: {
                        columns: [1, 2, 3, 4, 5, 6]
                    },
                    className: 'btn-exportar-print'
                },
            ]
        });
    </script>
} 